<% include partials/head.ejs %>
<% include partials/navbar.ejs %> 
        
<div class="container">
    <h1 class="text-center"><%= headline %></h1>

    <div>
        <img src="/images/main.jpg" class="img-responsive" />
    </div>
</div>

<% include partials/foot.ejs %>